{{ define "main" }}

<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">{{ i18n "join_us" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="{{ .Site.Params.contact_form_action | safeURL }}" method="POST">
          <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Name">
          <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Your Email">
          <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Subject">
          <textarea name="message" id="message" class="form-control mb-3" placeholder="Your Message"></textarea>
          <button type="submit" value="send" class="btn btn-primary">{{ i18n "send" }}</button>
        </form>
      </div>
      <div class="col-lg-5 content">
        {{ .Content }}
        <table>
          <tr>
            <th><i class="{{ .Site.Params.mobile_icon }} mb-xl-4 mb-lg-3 mb-4 feature-icon-small"></i></th>
            <td><a href="tel:{{ .Site.Params.mobile }}" class="text-color h5 d-block">{{ .Site.Params.mobile }}</a></td>
          </tr>
          <tr>
            <th ><i class="{{ .Site.Params.email_icon }} mb-xl-4 mb-lg-3 mb-4 feature-icon-small"></i></th>
            <td><a href="mailto:{{ .Site.Params.email }}" class="mb-5 text-color h5 d-block">{{ .Site.Params.email }}</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->



{{ end }}